nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: darkblue;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}
main{
    max-width: 500px
}

aside{
    width: 80%;
    margin: 2vmin;
    border: 5px inset purple;
    padding: 1vmin;
    background-color: khaki;
    color: darkslategrey
}

aside img{
    width: 200px;
    height: auto;
    border: none;
}

footer{
    margin-top: 1vmin;
    border-top: 2px double black;
    text-align: center;
}