:root{
    --darkBlue: darkblue;
    --khaki: khaki;
    --base100: 100px;
    --vminBase: 1vmin;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    background-color: var(--darkBlue);
    padding: calc(var(--base100)/ 10);
}

nav a{
    color: white;
    display: block;
    padding: calc(var(--base100)/ 5);
}

h1{
    color: darkblue;
}

main img{
    width: calc(var(--base100) * 1.5);
    height: auto;
    border: 1px solid black;
    padding: calc(var(--base100)/ 50);
    box-shadow: 0 0 30px gray;
    float: right;
}

p{
    padding: 0;
}
main{
    max-width: calc(var(--base100)* 5);
}

aside{
    width: 80%;
    border: 5px inset purple;
    position: relative;
}

aside h2{
    position: absolute;
    left:15%;
    top: 10%;

}

aside img{
    width: calc(var(--base100) * 2);
    height: auto;
    
}

footer{
    margin-top: calc(var(--vminBase) * 2);
    border-top: 2px double black;
    text-align: center;

}



/* Class Selectors */

a, a:visited,.box{
    color: var(--khaki);
}

.box{
    padding: 1rem;
    margin: 1rem;
    background-color: black;
    /* color set above! */
}
