:root{
    --darkBlue: darkblue;
    --base100: 100px;
    --vminBase: 1vmin;
}

nav{
    background-color: darkblue;
    padding: calc(var(--base100)/ 10);
}

nav a{
    color: white;
    display: block;
    padding: calc(var(--base100)/ 5);
}

h1{
    color: darkblue;
}

main img{
    width: calc(var(--base100) * 1.5);
    height: auto;
    border: 1px solid black;
    padding: calc(var(--base100)/ 50);
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}
main{
    max-width: calc(var(--base100)* 5);
}

aside{
    width: 80%;
    margin: calc(var(--vminBase) * 2);
    border: 5px inset purple;
    padding: calc(var(--vminBase) * 2);
    background-color: khaki;
    color: darkslategrey
}

aside img{
    width: calc(var(--base100) * 2);
    height: auto;
    
}

footer{
    margin-top: calc(var(--vminBase) * 2);
    border-top: 2px double black;
    text-align: center;

}