.callout {
	background-color: rgb(64, 64, 223);
    color: white;
    padding: 1vmin;
    border: 1px solid black;
    max-width: 400px;
    margin: 1vmin;
   
    
}

.callout img {
	float: right;
    border: 1px solid black;
    padding: 5px;
    background-color: lightgrey;
    width: 100px;
    height: auto;
    margin: 1vmin;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size:smaller;
    padding-top: 5px;
}