body{
    width: 700px;
    display: flex;
    line-height: 25px;
}

body,main{
    display: flex;
    flex-direction: column;
      align-items: center;
    justify-content: center;
}

header, footer{
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 2px;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 1.5em;
}

main{
    width: 60%;
    gap: 2vmin;
    padding-bottom: 2vmin;
}

img{
    width: 100%;
     box-shadow: 0px -10px 60px black;
}

section{
    background-color: grey;
    padding: 2vmin;
}

h2{
    border-bottom: 1px solid black;
}

section p{
    margin: 0 1vmin;
}